<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка активации аккаунта</title>
</head>
<body>
    <h1>Ошибка активации аккаунта</h1>
    <p>Произошла ошибка при активации вашего аккаунта.</p>
    <p>Возможно, ссылка для активации устарела или недействительна.</p>
    <p>Пожалуйста, свяжитесь с администратором сайта для получения дополнительной помощи.</p>
</body>
</html>
